<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tourit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_naame"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourIt">
        <activity android:name=".Bandipur"></activity>
        <activity android:name=".ShoeExcursion" />
        <activity android:name=".Andaman" />
        <activity android:name=".AfterRegisterErawanPark" />
        <activity android:name=".bookErawanPark" />
        <activity android:name=".NearErawanPark" />
        <activity android:name=".ErawanPark" />
        <activity android:name=".AfterRegisterBangkok" />
        <activity android:name=".BookBangkok" />
        <activity android:name=".NearbyBangkok" />
        <activity android:name=".Category" />
        <activity android:name=".AfterRegister" />
        <activity android:name=".OfficialGroup" />
        <activity android:name=".Privacy" />
        <activity android:name=".RateUs" />
        <activity android:name=".About" />
        <activity android:name=".Bangkok" />
        <activity android:name=".Thailand" />
        <activity android:name=".coorgbookguide" />
        <activity android:name=".NearbyCoorg" />
        <activity android:name=".coorg" />
        <activity android:name=".karnataka" />
        <activity android:name=".WorldTour" />
        <activity android:name=".StateTour" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResetPassword" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>